<hr><hr>
<br>
input caixa do forms no angular
<br><br>

<form action="" #form="ngForm" (ngSubmit)="submitForm(form)">
    
    <label for="">
        <input type="text" name="nome" #nome="ngModel" [ngModel]="nome.value" required>Escreva aqui
        <span *ngIf=" nome.valid && (nome.dirty && nome.touched)">Invalid </span>
    </label>
<br>
    <label for="">
        <input type="radio" name="sexo" value= "Masculino" ngModel>Masculino
    </label>
<br>
    <label for="">
        <input type="radio" name="sexo" value= "Feminino" ngModel>Feminino
    </label>
<br>
<label for="">
    Angular:
    <input type="checkbox" name="angular" ngModel>
</label>
<br>
<label for="">
    Vue.js:
    <input type="checkbox" name="vue.js" ngModel>
</label>
<br>
<label for="">
    React:
    <input type="checkbox" name="react" ngModel>
</label>
<br>
<br>

<select name="comidas" id="" ngModel>
    <option value="">Selecione um lanche</option>
    <option *ngFor="let item of listComidas" [ngValue]="item">
        {{item.comida}}
    </option>
<!--     <option value="" ngModel>X-Salada</option>
    <option value="" ngModel>X-Burguer</option>
    <option value="" ngModel>X-Egg</option>
    <option value="" ngModel>X-Tudo</option> -->
</select>

<br>
<br>
<button [disabled]="form.invalid">Enviar Dados!</button>
</form>
<br>
<!-- então o valor do form é o name que a gente da pra ele-->
{{form.value | json }}
<hr>
coisas de formularios
<br>
{{form.valid}} - se tem coisa digitada no input
<br>
{{nome.dirty}} - colocou caracter no input
<br>
{{nome.touched}} - cliquei no input
<hr>
<br>
